body {
  margin: 0;
}

header {
 
  background-position: center;
  display: flex;
  flex-direction: column;
}

header div {
  margin: 10px;
}

header li a img{
  height: 80px;
  width: auto;
  border: none;
  
}

a {
  display: inline-block;
  padding: 5px 3px;
  text-decoration: none;
  color:darkblue;
  font-size: 20px;
  text-align: center;
 
  font-weight: bold;
}

nav {
  background-color:grey;
  margin-bottom: 20px;
  
}



nav ul {
  display: flex;
  margin: 20px 10px 20px 10px;
  justify-content: space-between;
  padding: 16px;
  
}

li {
  list-style-type: none;
}

h1 {
  padding-top: 5px;
  text-align: center;
  margin-top: 5px;
  font-size:50px ;
  border-style: double;
  }

h3{
  padding-top: 5px;
  text-align: center;
  margin-top: 5px;
}

h2{
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom:10px;
  border-radius: 100px ;
  color:white;
  background-color: black;
  font-family: Courier,monospace,Arial,Helvetica,sans-serif; 
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 5px 10px chocolate;
  font-size: 16px;

}
header p {
  text-align: center;
  
}
strong{

  text-align: center;
  margin-top: 5px;
  color:white;
  font-size:16px;
  padding: 10px;
  background-color:black
}
header div {
 
  margin-top: 20px;
  margin-bottom: 10px;
}
main p{
  text-align: center;
 
}
.d1 {
  width: 700px;
  height: 432px;

  box-shadow: 0px 15px 10px -5px #777;
  background-color: #ededed;
  background-size: contain;
  animation: fondu 10s ease-in-out infinite both;
}
.conteneur {
  max-width: 800px;
  margin: auto;
  
  padding-top: 0px;
  padding-bottom: 0px;
}

.d1:hover,{
  animation-play-state: paused;
}

@keyframes fondu {
  0% {
    background-image: url(../images/ondulés1.png);
    background-size: cover;
    background-position-y: top;
  }
  
  33% {
    background-image: url(../images/cheveux.png);
    background-size: cover;
    background-position-y: top;
  }
  66% {
    background-image: url(../images/epais1.png);
    background-size: cover;
    background-position-y: top;
  }
  100% {
    background-image: url(../images/fin1.png);
    background-size: cover;
    background-position-y: top;
  }
  
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container div {
  width: 80%;
  margin: 0 10px;
}
nav img{
  
  width: auto;
}

header h2{
border-radius: 80px ;
color:white;

font-size: 20px;
padding:15px 40px 15px 40px;
display:inline-block;
min-width:250px;
font-weight:700;
font-family: Courier,monospace,Arial,Helvetica,sans-serif; 
background-color:black;
text-align: center;
margin-left: 36%;
}
  
  


  img{
    width:100%;
    height:auto;
    margin:0;
}
 

#container{
  display: flex;
  flex-wrap: wrap;
}

#container div{
  width:50%;
}

img{
  width:100%;
  height:auto;
}

#container p{
  padding-left:15px;
}

.container{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.container>div{
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
}

img{
  width:100%;
  height: auto;
  border: 2px solid green;
}

footer{
  
  background-color:grey;
  
  justify-content: center;
  align-items: center;
  
}



footer ul{
flex-direction:column;
align-items: center;
padding:0;
margin-left: 100px;
}

footer h3{
  text-align: center;
}

footer .container{
  justify-content:  space-around;
}

@media(max-width:1400px){
  #container div{
      width: 100%;
  }

  nav ul{
      padding: 0px;
  }
}



@media(max-width: 992px){
  .container>div{
      width: 33.3333333%
  }
}

@media(max-width: 768px){
  .container>div{
      width:100%
  }

  nav ul{
      padding:0;
  }

.fa-facebook fa-3x{
  color:black;
}

.fa-instagram fa-3x{
  color: black;
}