@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');

header {
 
    background-position: center;
    display: flex;
    flex-direction: column;
  }

  
  
  header div {
    margin: 10px;
  }
  
  header li a img{
    height: 100px;
    width: auto,;
    border: none;
    position:left: 350px;
    
  }

  

nav ul {
  display: flex;
  margin: 10px 10px 10px 10px;
  justify-content: space-between;
  padding: 16px;
  
}

li {
  list-style-type: none;
}
  a {
    display: inline-block;
    padding: 10px 5px;
    text-decoration: none;
    color:darkblue;
    font-size: 20px;
    text-align: center;
   
    font-weight: bold;
  }
  
  nav {

    margin-bottom: 20px;
    
  }

nav ul{
    padding: 5px;
}
 
  


h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2.5rem;
    color: rgb(97, 97, 230);/*changer le degré de couleur en survelant la coulaur de base*/
    text-shadow: 5px 3px 0px #0a0e02; /*travailler sur l'opacité de l'ombre en survelant la couleur */
    text-align: center;
    font-family:'Courier New', Courier, monospace
    margin-top: 100px;
    padding-top:100px;
}

h2{
    margin: 0px;
    padding-top: 20px;
   
}
h3{
    text-align: center;
}

body{

    font-family: sans-serif;
    background:moccasin;
     /*left,center,bottom*/
    height: 100vh;
   margin top: 80px;
}


main{
   bottom: 60%;
    height: 60%;
    width: 90%;
    min-height: 500px;
    margin: 0 auto;
    padding: 80px 70px;
    border-radius: 70px;
    
}

.diagnostic{
    border: 3px solid black;
    border-radius: 10px;

    
    position:relative;
    color: black;
    box-shadow: 17px -9px 15px 6px hsl(6deg 76% 47% / 40%);
    
}  


#circle{
margin-top: 25px;
    largeur:60px;
    background-color: black;
    padding: 15px;
    
    bottom: 15px;
    position: absolute;
   /* top:50px;*/
    right: 200px;
    font-weight: bold;
    color: white;
    box-shadow: 1px violet;
    #transform:translate: (-50%);
    border-radius : 50px;
}





#rectangle{
    height: 60px;
    width: 500px;
    
    padding: 20px; 
    position: absolute;
    top:200%;
    left:50%;
    bottom:70%;
    transform:translate(-50%,-50%);
}


.flexbox{
   
    padding: 10px;
    margin-top: 150px;
}
.flexbox p{
    font-weight: bold;
    font-size: 14px;
}
.inside{
 
    padding: 10px;
    margin-top: 80px;
   
}

.inside p{
    font-weight: bold;
    font-size: 14px;
}
#container{
    display: flex;
    flex-wrap: wrap;
  }
  
  #container div{
    width:50%;
  }
  
  img{
    width:100%;
    height:auto;
   
  }
  
  #container p{
    padding-left:15px;
  }
  
  .container{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
  }


  span{
    font-weight: bold;
  
    border: 3px solid brown;
    box-shadow: 17px -9px 15px 6px hsl(6deg 76% 47% / 40%);
   
  }
  
  img{
    width:100%;
    height: auto;
    border: 2px solid green;
    
  }
  
  footer{
    
    background-color:grey;
    
    justify-content: center;
    align-items: center;
    
  }
  
  
  
  footer ul{
  flex-direction:column;
  align-items: center;
  padding:0;
  margin-left: 100px;
  }
  
  footer h3{
    text-align: center;
  }
  
  footer .container{
    justify-content:  space-around;
  }
  
 
  
    nav ul{
        padding: 0px;
    }
  
  


    .fa-facebook fa-3x{
        color:black;
      }
      
      .fa-instagram fa-3x{
        color: black;
      }